# Default ignored files
/.idea/
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\johnw\Documents\CMPT276_Group1\Production\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
